.App {
  text-align: center;
}

.App .item-todo {
  padding: 14px;
  width: 500px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.App input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
}

.App button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
 
  text-transform: capitalize;
}

.App .btn-up{
  margin-left: 261px;
  margin-top: 25px;
  padding: 19px;
}

.App .btn-down {
margin-left:270px;
margin-bottom: -30px;
}

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -110px;
  bottom: -70px;
}

.strike {
  text-decoration: line-through;
}

.subApp {
  text-align: center;
}

.subApp .sub-item-todo {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subApp .sub-item-todo .sub-item-text {
  display: inline-block;
  cursor: pointer;
}

.subApp input {
  padding: 14px 32px 14px 16px;
  margin-top: 30px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
 position: relative;
}

.subApp button {
  margin-top:30px;
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
 position: absolute;
 
  text-transform: capitalize;
  
}
 .subApp .sub-btn-down {
  
  margin-top: -13px;
  margin-left: 260px;

}
.subApp .sub-btn-up {
  
  margin-top: -13px;
  margin-left: 320px;

}

.subApp .sub-item-todo .sub-item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 22px;
  position: relative;
  left: -4px;
  bottom: 5px;
}

.sub-strike {
  text-decoration: line-through;
}